---
import '../styles/global.css';

import img25 from '../assets/25.png';
import snd25 from '../assets/25.mp3';

import img_header from '../assets/header.gif';
import img_main from '../assets/main.gif';
import img_main1 from '../assets/main1.gif';
import img_fire from '../assets/fire.gif';
import img_play from '../assets/play.gif';
import img_stop from '../assets/stop.gif';
import img_hi from '../assets/hi.gif';
import img_footer from '../assets/footer.gif';
---

<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>XMAS 25 Greetings by matti</title>
  </head>

  <body>
    <div class="card">

      <!-- Header -->
      <div class="header">
        <img src={img_header.src} alt=""/>
      </div>

      <!-- Main -->
      <main class="main">

        <!-- Audio file to be launched on balloon click -->
        <audio id="snd25" src={snd25} preload="auto"></audio>

        <!-- Main image -->
        <div class="img_wrap">
          <img src={img_main1.src} alt="" id="id_img_main1"/>
          <img src={img_main.src} alt="" class="hidden" id="id_img_main"/>
        </div>
        
        <!-- Interactive images and icons-->
        <img src={img_play.src} id="id_img_play" alt="" onclick="this.classList.add('hidden'); document.getElementById('id_img_stop').classList.remove('hidden');document.getElementById('snd25').play();document.getElementById('id_img_main').classList.remove('hidden');"/>
        <img src={img_stop.src} id="id_img_stop" class="hidden" alt="" onclick="this.classList.add('hidden'); document.getElementById('id_img_play').classList.remove('hidden');document.getElementById('snd25').pause();document.getElementById('id_img_main').classList.add('hidden');"/>
        <a href="mailto:matti.new@gmail.com">
          <img src={img_hi.src} id="id_img_hi" alt="" />
        </a>
        <img src={img25.src} id="id_img_25" alt="" />
        <img src={img_fire.src} id="id_img_fire" alt=""/>

      </main>

      <!-- Footer -->
      <div class="footer">
        <img src={img_footer.src} alt=""/>
      </div>

    </div>
  </body>

</html>