---
import '../styles/global.css';

import { Image } from 'astro:assets';

import img25 from '../assets/25.gif';
import snd25 from '../assets/25.mp3';

import img_header from '../assets/header.gif';
import img_main from '../assets/main.gif';
import img_footer from '../assets/footer.gif';
---

<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>XMAS 25 Greetings by matti</title>
  </head>

  <body>
    <div class="card">

      <!-- Header -->
      <div class="header">
        <img src={img_header.src} alt=""/>
      </div>

      <!-- Main -->
      <main class="main">

        <!-- Audio file to be launched on balloon click -->
        <audio id="snd25" src={snd25} preload="auto"></audio>
        <!-- <div class="img_wrap" onclick="document.getElementById('snd25').play();">
          <Image src={img25} alt="" quality="max" layout="full-width" />
        </div> -->

        <div class="img_wrap">
          <img src={img_main.src} alt=""/>
        </div>

      </main>

      <!-- Footer -->
      <div class="footer">
        <img src={img_footer.src} alt=""/>
      </div>

    </div>
  </body>

</html>